body {
    background-image: url("img/dollar_bills.jpg");
}

.center {
    text-align: center;
}

.header {
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;

}

.purple {
    color: #C430D1;
}

.blue {
    color: #1FDBD2;
}

.poop {
    color: #6B6939;
}

.orange {
    color: #E8621A;
}


#homebutton {
    width: 80px;
    height: 37px;
    background-image: url("img/buttons/home.png");
}

#homebutton:hover {
    background-image: url("img/buttons/home_on.png");
}